@import "tailwindcss";

:root {
  --foreground: black;
  --background: white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: black;
  }
} */

.arrow {
  padding: 10px;
  border-radius: 50px;
  border: 2px black solid;
}

* {
  transition: 200ms;
  /* -webkit-hyphens: auto;
  hyphens: auto; */
  /* line-break: normal;
  word-break: break-all;
  word-wrap: normal;
  white-space: normal; */
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

#footer-input {
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

#footer-input:focus {
  border: none;
}

body {
  color: var(--foreground);
  background: var(--background);
}

#footer-submit {
  padding: 10;
  border: 1px solid white; /* White border */
  color: white;           /* White text */
  background-color: transparent;
}
